@use 'variables';

.hero{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    background-image: url(../images/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    .container{
        position: relative;
    }    

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: variables.$blackColor;
        content: '';
        opacity: .4;
    }

    &__text{
        color: variables.$textColor;
        margin: 64px 8px;
        padding-top: 20px;
        font-size: 40px;
        line-height: 56px;
        font-weight: 800;
    }

    @media (max-width: 640px) {
        &__text {
            font-size: 30px;
            line-height: 40px;
            margin-bottom: 100px;
        }
    }    
}